body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #b79a8a;
}

.clock {
    font-size: 3em;
    color: #070402;
    text-align: center;
}
